/* when checkbox isn't checked */
.old-checkbox ~ .custom-checkbox {
  background-color: var(--color-neutral-500);
}
.old-checkbox:hover ~ .custom-checkbox {
  background-color: var(--color-neutral-600);
}
.old-checkbox:active ~ .custom-checkbox,
.old-checkbox:hover:active ~ .custom-checkbox {
  background-color: var(--color-neutral-700);
}

/* When checkbox is checked */
.old-checkbox:checked ~ .custom-checkbox .check-icon {
  scale: 1;
}
.old-checkbox:checked ~ .custom-checkbox {
  background-color: var(--color-amber-500);
}
.old-checkbox:checked:hover ~ .custom-checkbox {
  background-color: var(--color-amber-600);
}
.old-checkbox:checked:active ~ .custom-checkbox,
.old-checkbox:checked:hover:active ~ .custom-checkbox {
  background-color: var(--color-amber-700);
}
