/* .show-buttons {
	animation: open-animation 0.5s normal;
	width: 100%;
}
.filter-open-button {
	flex:1;
}
.reset-button {
	flex:1;
}

@keyframes open-animation {
	from {
		width: 130px;

	}
	to {
		width: 100%;
	}
} */