* {
	box-sizing: border-box;
}

.main {
	max-width: 950px;
	display: flex;
}
.card-container {
	display: grid;
	grid-template-columns: 1fr;
	margin-inline: 15px;
	/* grid-gap: ; */
	gap: 2rem;
}

.card {
	display: flex;
	flex-flow: row;
	width: fit-content;
}

.image {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 2rem;
}
.image img {
	max-height: 175px;
	max-width: 175px;
	height: 25vw;
	width: 25vw;
}
.description p,
h1 {
	text-overflow: ellipsis;
	overflow: hidden;
}

.card-species {
	font-size: 0.9rem;
	font-weight: bold;
	color: grey;
	margin-block: 7px 2px;
	display: block;
}
.card-name {
	font-size: 1rem;
	margin: 0;
	display: block;
}
.card-location {
	/* margin: 5px 0 0; */
	margin: 0;
	font-size: 1rem;
	display: block;
}

@media screen and (min-width: 650px) {
	.card-container {
		grid-template-columns: 1fr 1fr;
	}
	.card {
		width: fit-content;
	}
	.image {
		margin-right: 30px;
	}
	.image img {
		height: 13vw;
		width: 13vw;
	}
}

@media screen and (min-width: 900px) {
	.card-container {
		/* flex-flow: column; */
		padding: 0rem;
		/* grid-template-columns: 1fr 1fr 1fr; */
		display: flex;
		flex-wrap: wrap;

		justify-content: space-between;
	}
	.card {
		display: flex;
		flex-flow: column;
		width: 175px;
	}
	.image {
		/* margin-right: 30px; */
		margin: 0;
	}
	.image img {
		width: 175px;
		height: 175px;
	}
}

@media screen and (min-width: 1200px) {
	.card-container {
		/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	}
}
